.list__style {
  list-style: none;
  display: inline-block;
  width: 240px;
  height: 310px;
  margin: 10px 10px 10px 10px;
  border: 1px solid tomato;
  align-content: center;
}
.img__small {
  width: 120px;
}

.list__style-favorites {
  list-style: none;
  width: 120px;
  border: 1px solid tomato;
}
.list__serie-favorite {
  background-color: coral;
  color: blue;
}
